.open + .dropdown-menu {
	display: block !important;
}

.dropdown-menu .open {
	background-color: #0088CC;
	color: #FFFFFF;
	text-decoration: none;
}
.dropdown-toggle.open, .dropdown-toggle:hover {
	background-color: #999 !important;
	border-color: #999;
	color: #FFF;
}
